@charset "utf-8";
/* CSS Document */
body {
  background-color: #FF0;
}
h1 {
  font: 30px sans-serif;
  background-color:#00F;
}
.parrafo{
	font-style:inherit;
	background-color:#0F0;
	letter-spacing: 10px