html{
	background-color: #00CED1;
}
h1{
text-align: right;
}
.comic{
	font-family: verdana;
	color: white;
}
#vicent,#ban{
 float: left;
}
.autor{
color: green;
text-decoration: underline;
}
.Micro{
color: orange;
}
.año{
	color: blue;
}
.borde1 {
    width: 60%;
    position: relative;
    float: left;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    background-color: black;
}
#bob{
	float: right;
}
div{
	width: 100%;
	float: left;
	position: relative;
	font: normal verdana;
}