body{
    width: 900px;
    margin: auto;
    margin-top: 10px;
    background: #3fccf7;
}
header{
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    background: rgb(124, 124, 124);
}
nav {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    background : violet;
}
aside{
    width: 250px;
    float: right;
    background: #8AF1C4;
    padding:5px;
    margin-top: 10px;
    border:2px solid black;
    border-radius: 5px;
}
section{
    border:2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;

}

    article{
        width: 600px;
        background: #819FF7;
        border:2px solid black;
        border-radius: 5px;
        padding: 5px;
        margin-top:10px;
    }
    footer{
        border:2px solid black;
        border-radius: 5px;
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
        background: #F7BE81;
    }