#main-header {
	background: #333;
	color: white;
	height: 80px;
	margin-right: 0px;
}	
	#main-header a {
		color: white;
	}
.one{
	background-color: #333;
}
 
/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	nav li a:hover {
				background-color:#434343;
			}
	
		nav ul li {
			display: inline-block;
			line-height: 50px;
		}
		nav li:hover > ul {
				display:block;
			}
			nav li a {
				background-color:transparent;
				color:#fff;
				text-decoration:none;
				padding:10px 12px;
				display:block;
			}
			
			nav li a:hover {
				background-color:#434343;
			}
			
			nav li ul {
				display:none;
				position:absolute;
				min-width:0px;
			}
			
			nav li:hover > ul {
				display:block;
			}
			
			nav li ul li {
				position:relative;
			}
			
			nav li ul li ul {
				right:-140px;
				top:0px;
			}