h1{
	color:White;
	background-color: Black; 
}
h2{
	color:Yellow;
	background-color: Red; 
}
h3{
	color:Violet;
	background-color: Green; 
}
h4{
	color:blue;
	background-color: pink; 
}
h5{
	color:red;
	background-color: purple; 
}
h6{
	color:violet;
	background-color: red; 
}
