#cabecera,#pie{
	background-color: Aquamarine;
	color: white;
}
#uno,#dos,#tres{
	float: left;
	margin: 10px;
}
#dos,#tres{
	border-left: 3px solid black;
	width: 30%;
	height: 100%
}
#uno{
	width: 30%;
}
#pie{
	clear: left;
}
#c2{
	margin: 0px;
	padding: 0px;
}